@import 'reset/reset'; // reset style

// basic

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: $color-light-cyan;
}

// hidden arrow for input:number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
