$container-mw: 1280px !default; // width container

$grid-columns: 12 !default; // numbers columns
$grid-space: 30px; // margin
$grid-space-side: calc($grid-space / 2); // margin one side

// DON`T TOUCH
$grid-bp: (
  xs: 0px,
  // Extra small screen / phone
  sm: 576px,
  // Small screen / phone
  md: 768px,
  // Medium screen / tablet
  lg: 992px,
  // Large screen / desktop
  xl: 1200px,
  // Extra large screen / wide desktop
  xxl: 1400px,
  // Extra large screen / wide desktop
) !default;

$media-value: (
  mx: max,
  // desctop first
  mn: min,
  // mobile first
) !default;

//default breakpoits for container width values
$container-value: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: $container-mw,
);
